<div class='addPostWrapper'>
    <div class='addPostForm'>
        <div class="title">New Post</div>
        <img [src]="mainImage" class='addPostImage' alt="No Image" (click)="updateMainImage()">
        <input class="addPostTitle" type="text" required [(ngModel)]="title" name="title">
        <br>
        <div (click)="toggleSummernote()">Show content</div>
        <div [ngStyle]="{'display': showSummernote ? '' : 'none'}" class='summernoteWrapper'>
            <div id="summernote"></div>
        </div>
        <button class="addPostSave" mat-button (click)="addPost()">Save</button>
    </div>
</div>